
/* assistant border */
.b {
  border: 1px solid #ff0000; 
}
/*--------------------------------------------------*/
.h100 {
  height: 100vh;
}
.w100 {
  width: 100vw;
}
/*--------------------------------------------------*/

