
/* assistant border */
.b {
  border: 1px solid #ff0000; 
}
/*--------------------------------------------------*/
.h100 {
  height: 100vh;
}
/*--------------------------------------------------*/

.grid-dashboard {
  display: grid;
  grid-template-columns: 1fr 9fr;
}

.grid-artworks {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
