/* ---------- Fonts -------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=GFS+Neohellenic&display=swap");

/* ------------------------------------------------------------------------- */
body,
html {
  font-family: "GFS Neohellenic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
