/* ---------- Fonts -------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=GFS+Neohellenic&display=swap");

/* ---------- Main Colors -------------------------------------------------- */
:root {
  --main-dark: #2a2a31;
  --main-light: #ffffff;
}
/* ------------------------------------------------------------------------- */
body,
html {
  color: var(--main-dark);
  font-family: "GFS Neohellenic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
