@use "./Buttons.scss";

/* ---------------------------------------------------------------------- */
.bg-button {
  background-color: #C4C4CB;
}

.grid-collections {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.h-collection {
  height: 180px;
}
