/* ---------------------------------------------------------------------- */
.bg-dashboard {
  background: linear-gradient(#2A2A31, #373741);
}
.bg-routes {
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../img/routes-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-dashboard {
  display: grid;
  grid-template-columns: 1fr 9fr;
}
.navbar-text {
  font-weight: 400;
  &:focus {
    color: #ED5500;
  }
}
