/* ---------------------------------------------------------------------- */
.bg-modal-content {
  background: linear-gradient(#F1F1F4, #FFFFFF);
}
.bg-modal-header {
  background: linear-gradient(#ED5500, #FF6712);
  color: #F1F1F4;
}
.bg-navbar {
  background: linear-gradient(#D5D5DB, #C4C4CB);
}
.nav-text {
  color: #2A2A31;
  font-weight: 500;
  &:focus {
    color: #ED5500;
  }
}
