/* ---------------------------------------------------------------------- */
.bg-home {
  background-image: url("../img/dashboard-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20% 10%;
  margin: 2% 10%;
}
