/* ---------------------------------------------------------------------- */
.bg-login {
  background-image: url("../img/login-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.margin-relative {
  margin: 10% 0% 0% 10%;
}
