/* ---------------------------------------------------------------------- */
.bg-login {
  background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url("../img/login-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.heading {
  color: #797983;
  margin-bottom: 30px;
  text-align: center;
  &:hover {
    color: #ED5500;
  }
}
.size {
  min-height: 90vh;
  width: 400px;
}

/* ---------- Flip Card -------------------------------------------------- */
.flip-card {
  background-color: transparent;
  height: 90vh;
  //perspective: 1000px; (3D effect)
  width: 400px;
  z-index: 5;
}
.flip-card-inner {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  width: 100%;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
.flip-card-front {
  background-color: #F1F1F4;
}
.flip-card-back {
  background-color: #F1F1F4;
  color: #2A2A31;
  padding: 30% 10% 30% 10%;
  transform: rotateY(180deg);
}
