/* ---------------------------------------------------------------------- */
.bg-main {
  background-image: url("../img/under-construction.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
